@import 'partials/normalize';
@import 'partials/vars';

body {
	background-color: $grey;
	padding: 5rem 10rem;
	font-family: $primary-font;
		.grid-container {
			display: table;
			width: 100%;
			height: auto;
		}
		nav {
			margin: 2.2rem 0 4.4rem 0;
		}
		.col-l, .col-r {
			display: table-cell;
			text-align: left;
			width: 50%;
			padding: 0;
		}
		ul.col-l, ul.col-r {
			ul {
				margin: 1em 0;
			}
		}
		hr {
			margin: 2.2rem 0;
			border: 0;
			height: 1px;
			background: $charcoal;
		}
		h1, h2, h3 {
			margin: 0;
			color: $charcoal;
			font-size: 16px;
			line-height: 1.8rem;
			font-weight: 700;
		}
		.skills-category {
			font-weight: 700;
			margin: 1em 0;
		}
		.download {
			border-bottom: none;
			text-decoration: none;
			border: 1px solid $charcoal;
			background: transparent;
			padding: 1rem;
			color: $charcoal;
		}
		.nowrap {
			white-space: nowrap;
		}
		ul {
			list-style: none;
			padding-left: 0;
			margin: 0;
		}
		a, p, li {
			line-height: 1.8rem;
			// color: $grey;
			color: $charcoal;
			font-weight: 400;
		}
		footer {
			margin: 0 0 4.4rem 0;
			p, li, a {
				font-size: 14px;
			}
		}
		a:not(.download) {
			text-decoration: none;
			border-bottom: 1px dotted gray;
			transition: 0.3s all ease-in-out;
			// padding: 2px 4px;
			// background: rgba(255, 51, 102, 0.6);
			&:hover {
				color: $grey;
				background: $charcoal;
			}
		}
}

@media screen and (max-width: 1090px) {
	body {
		.col-l, .col-r {
			width: 100%;
			display: block;
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		padding: 2em 5em;
	}
}